html, body {
	background-color: #A8CA6E;
	margin:0px; padding:0px
}
h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
  font-weight: bold
}
h4 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font: 15px "Lato", sans-serif;
  color: #111;
  text-align:center;
  font-weight: 550
}
#carcombo{
	border: 2px solid #444444;
	background: transparent;
	padding: 5px
}
#head { 
  text-align:center;
  padding:0px 20px; 
  font: 15px/1.8 "Lato", sans-serif
}

#controls {
	width:100%;
	text-align: center
	/*padding-top:40px;*/
}
#p1 {
	font: 15px/1.8 "Lato", sans-serif;
	width:30%;
	text-align: center;
	padding-left:5px;
	display:inline-block;
	padding: 5px
}
#p2 {
	width:30%;
	text-align: center;
	display:inline-block;
	padding: 0px;
	font: 15px/1.8 "Lato", sans-serif
}
#p3 {
	width:30%;
	text-align: center;
	display:inline-block;
	padding: 5px;
	font: 15px/1.8 "Lato", sans-serif
}
#results {
	width:50%;
	text-align: center;
	padding: 5px;
	font: 15px/1.8 "Lato", sans-serif;
	margin-left: auto;  margin-right: auto
}
#road {
	width:100%;
	background-color: #999999;
	min-height: 150px
}
#container {
	width:80%;
	margin-left: auto;  margin-right: auto; 
	background-image: url('../images/finish.png');
    background-repeat: no-repeat;
    background-position: right
}
.kart {
	padding: 50px;
	display: inline-block
}
#start {
	cursor: pointer;
	border:2px solid black; 
	background-color: transparent;
	padding: 5px 5px 5px 5px
}